* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}


:host ::ng-deep {
  .p-card-body {
    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .submit-btn {
        margin-left: auto;
      }
    }
  }
}
